body{
    background-color: rgba(218, 187, 149, 0.822);
  }
  nav {
    height: 90px;
    background-color: rgba(77, 45, 6, 0.799);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 600;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav img{    
    width: 130px;
    padding: 10px;
}
#bigContainer{
    position: relative;
    width: 100%;
    height: 630px;
    background-color: rgb(73, 18, 18);
    display: grid;
    grid-template-columns: auto auto auto  ;
    align-items: center;
    justify-content: left;
}
.books{
    width: 150px;
    height: 150px;
    background-color: rgb(217, 204, 204);
    margin: 30px;
    border-radius: 20%;
    
}
.books{
    display: flex;
    align-items: center;
    justify-content: center;

}
#Fantasy{
    background-color: bisque;
}
#searchBox{
    width: 400px;
    height: 150px;
    background-color: rgb(180, 141, 82);
    position: absolute;
    right: 100px;
    top: 100px;
}



