
table#ordersTbl{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}


table#ordersTbl td, table#ordersTbl th{
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}


table#ordersTbl th{
    background-color: #f2f2f2;
}


table#ordersTbl tr:nth-child(even){background-color: #f2f2f2;}

button#editBtn, button#removeBtn {
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
  }
 
  button#editBtn {
    background-color: #007BFF;
    color: white;
  }
 
  button#removeBtn {
    background-color: #FF0000;
    color: white;
  }
  body{
    background-color: burlywood;
  }
  nav {
    height: 90px;
    background-color: rgba(77, 45, 6, 0.799);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 600;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav img{    
    width: 130px;
    padding: 10px;
}